<a href="https://colab.research.google.com/github/Nupur1409/CodeClause_Fake-news/blob/main/Fake_news_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--------Fake News Detection---------**

01-> Import library

In [2]:
import pandas as pd
import numpy as np
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

02 -> Reading CSV File

In [10]:
news = pd.read_csv("news.csv")

03 -> Distribution of classes for prediction

In [15]:
def create_distribution(dataFile):
    
    return sb.countplot(x='Label', data=dataFile, palette='hls')

04 -> Data observation

In [21]:
def data_obs():
    print("news dataset size:")
    print(news.shape)
    print(news.head(10))

05 -> Using Head Function We Can Access Top 5 Row

In [19]:
print(news.head(10))

   Unnamed: 0                                              title  \
0        8476                       You Can Smell Hillary’s Fear
1       10294  Watch The Exact Moment Paul Ryan Committed Pol...
2        3608        Kerry to go to Paris in gesture of sympathy
3       10142  Bernie supporters on Twitter erupt in anger ag...
4         875   The Battle of New York: Why This Primary Matters
5        6903                                        Tehran, USA
6        7341  Girl Horrified At What She Watches Boyfriend D...
7          95                  ‘Britain’s Schindler’ Dies at 106
8        4869  Fact check: Trump and Clinton at the 'commande...
9        2909  Iran reportedly makes new push for uranium con...

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL
5    \nI’m not an immigrant, but my grandparents ...  FAKE
6  Share This Baylee Luciani (left), Screenshot o...  FAKE
7  A Czech stockbroker who saved more than 650 Je...  REAL
8  Hillary Clinton and Donald Trump made some ina...  REAL
9  Iranian negotiators reportedly have made a las...  REAL

06 -> Getting the labels

In [20]:
labels=news.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

07 -> Shape of dataset

In [22]:
news.shape

(6335, 4)

08 -> Checking if there is null value or not

In [23]:
news.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

09 -> Droping NaN values from our dataset

In [24]:
news.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [27]:
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [28]:
news

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

                          ---- NUPUR PATIL